*.pyc
*~
\#*
.#*
*.swp
.DStore/
thumbs.db
#storage/profiles
#config.py
.idea/*
state.json
venv/*

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
